{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}Welcome{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="h3 mb-4 mt-4">Welcome to Django Allauth Tutorial</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
  {% if user.is_authenticated %}
      <p>Your username is {{ user.username }}</p>
      <p>Your email is {{ user.email }}</p>
      <p><a href="{% url 'account_logout' %}">Logout</a></p>
  {% else %}
      <h5 class="h5 mb-4">Login or Register</h5>
      <a role="button" class="btn btn-info" href="/admin">Admin</a>
      <a role="button" class="btn btn-primary" href="{% url 'account_login' %}">Sign In</a>
      <a role="button" class="btn btn-success" href="{% url 'account_signup' %}">Register</a></li>
  {% endif %}
  </div>
  </div>

{% endblock %}
